fastapi
uvicorn
python-dotenv
python-multipart
pydantic
pydantic-settings

docling
rapidocr
pymupdf

sentence-transformers
transformers
torch
tokenizers
accelerate
huggingface-hub
safetensors

faiss-cpu

numpy
scipy
scikit-learn
pandas

tqdm
requests

pymongo
certifi

loguru
